
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Excellent Taste</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"><h3>Left-Field</h3></div>
                <div class="col-sm-4">
                    <form class="form-horizontal" asp-controller="Home" asp-action="Contact">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="sUsername">Username:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="sUsername" placeholder="Enter username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="sPassword" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            <div class="col-sm-4"><h3>Right-Field</h3></div>
        </div> 
    </div>
</body>
</html>
