@{
    ViewData["Title"] = "Reservations";
}

<div class="container-fluid">
    <div class="col-sm-12" style="color: #7289DA; text-align: left">
        <h1 style="color: black">CURRENT USERS</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>ReservationId</th>
                    <th>Lastname</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>PhoneNum</th>
                    <th>TableNum</th>
                    <th>Notes</th>
                    <th>Arrived?</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
