@{
    ViewData["Title"] = "User Control";
}
@model CreateUserViewModel

<div class="container-fluid">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4"> </div>
    <div class="col-sm-4" style="color: #7289DA; background-color: lightgreen; text-align: center">
        <br>
        <form asp-action="----------" asp-controller="Home">
            <div>Username</div>
            <input type="text" name="Username" asp-for="Username" required>
            <br>
            <div>Password</div>
            <input type="password" name="Password" asp-for="Password" required>
            
            
            <br><br>
            <input type="submit" value="Create User" class="btn-primary">
        </form>
        <br>
    </div>
</div>
