@{
    ViewData["Title"] = "User Edit";
}

<div class="container-fluid">
    <div class="col-sm-12" style="color: #7289DA; text-align: left">
        <h1 style="color: black">CURRENT USERS</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Usermane</th>
                    <th>Password</th>
                    <th>Admin Status</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
        </table>

        @if (Model.UsersList != null && Model.UsersList.Count != 0)
        {
            foreach (User user in Model.UsersList)
            {
        <form asp-controller="Home" asp-action="">
            <input type="text" value="@user.Id" disabled>
            <input type="text" value="@user.Username">
            <input type="password" value="@user.Password">
            <input type="checkbox" checked="@user.Admin">
            <input type="submit" value="Edit">
        </form>
            }
         }

    </div>
</div>