@{
    ViewData["Title"] = "User Edit";
}




<div class="container-fluid">
    <div class="col-sm-12" style="color: #7289DA; text-align: center">
        <h1 style="color: black">EDIT USER</h1>

                <form asp-controller="Home" asp-action="UpdateUser">
                    <input type="text" value="" disabled>
                    <input type="text" value="@">
                    <input type="password" value="">
                    <input type="checkbox" checked="">
                    <input type="submit" value="Update">
                </form>
  
    </div>
</div>