@{
    ViewData["Title"] = "User Control";
}
@model OverviewViewModel

<div class="container-fluid">
    <div class="col-sm-10" style="color: #7289DA; text-align: left">
        <h1 style="color: black">CURRENT USERS</h1>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Usermane</th>
                    <th>Password</th>
                    <th>Admin Status</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.UsersList != null && Model.UsersList.Count != 0)
                {
                    foreach (User user in Model.UsersList)
                    {
                        <tr>
                            <td><input type="text" value="@user.Id" disabled></td>
                            <td><input type="text" value="@user.Username"></td>
                            <td><input type="password" value="@user.Password"></td>
                            <td><input type="checkbox" checked="@user.Admin"></td>
                         </tr>
                     }
                 }
            </tbody>
        </table>
    </div>
    <div class="col-sm-2" style="color: #7289DA; background-color: lightgreen; text-align: center">

        <a asp-action="UserAdd" asp-controller="Home">Add user</a>
        
    </div>
</div>
